@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
    background-image: url('../../public/images/bg-gradient.png');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
  }